{% extends 'base.html' %}
{% block job %}
<nav class="navbar navbar-light bg-light justify-content-between" style="background: linear-gradient(to left,#2a345a,#13182a);">
    <a  href="{% url 'filters'%}" class="navbar-brand" style="color: #e31b6d"><i class="fas fa-home"></i> Home</a>
  
    <a href="{% url 'logout'%}" class="btn btn-outline-success my-2 my-sm-0 "  style="color: azure; border-color: #e31b6d; ">Logout</a>
  </nav>
<div class="banner-text" style=" width:100%;height: auto;" id="jobslist">
    <h3 style="margin-top: 0%;text-transform: uppercase;">Jobs<span style="color:#e31b6d;"> Founded</span></h3>
    <div class="center">
        <div class="wrapper" id="test">
            <div class="content">
                {% for n in data %}
                <a href="#" class="my-card">
                    <div class="card" style="margin-top: 2%;"
                        onclick="openModal('{{n.title}}','{{n.company}}','{{n.location}}','{{n.description|escapejs }}','{{n.company_logo}}','{{n.how_to_apply|escapejs}}')">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-4">
                                    {% if n.company_logo %}
                                    <img src={{n.company_logo}} alt="" class="image">
                                    {% else %}
                                    <img src="/myportfolio/static/images/company.png" alt="" class="image">
                                    {% endif %}
                                </div>
                                <div class="col-8">
                                    <h5>{{n.title}}</h5>
                                    <div><span>{{n.company}}</span></div>
                                    <div>
                                        <span>{{n.location}}</span>
                                    </div>
                                    <div>
                                        <span>{{n.type}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                {% endfor%}

            </div>
        </div>
    </div>

</div>
 <div class="modal fade my-modal" id="job" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true" style="opacity: 1; margin-top: 3%;">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" style="background-color: #424a64;color: azure;position: absolute;">
            <div class="modal-header" style="padding-top: 0%;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="closeModal()" style="margin-top: 0%;">
                    <span aria-hidden="true">&times;</span>
                </button>
              </div>
            <div class="modal-body">
                <div class="row" style="margin-top: 1%;padding-left: 2%;padding-right: 2%;">
                 
                    <div class="col-md-3">
                        <img id="logoModal" src="" alt="" class="image">
                    </div>
                    <div class="col-md-9">
                        <h5 style="font-weight: bold;" id="title"></h5>
                        <span id="company"></span>
                        <span id="location"></span>
                    </div>
                </div>
                <div class="row"  style="padding-left: 2%;padding-right: 2%; padding-top: 2%;">
                    <div class="col-md-12" id="desc">
                    </div>
                </div> 
                <div class="row"style="padding-left: 2%;padding-right: 2%;">
                    <h2 style="color: #e31b6d;text-transform: uppercase;">Apply!!</h2>
                    <div id="apply" style="text-align: left;"> </div>
                </div>
            </div>

        </div>
    </div>
</div> 

<!-- 
<div class="modal fade" id="job" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="opacity: 1; margin-top: 3%;">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-body">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"onclick="closeModal()">
                <span aria-hidden="true">&times;</span>
              </button>
            <div class="row">
                <div class="col-3">
                    <img id="logoModal" src="" alt="" class="image">
                </div>
                <div class="col-9">
                    <h5 style="font-weight: bold;" id="title"></h5>
                    <span id="company"></span>
                    <span id="location"></span>
                </div>
            </div>
            <div class="row" id="desc" style="padding-left: 20px;padding-right: 20px;padding-top: 30px;">
            </div>
            <div>
                <h2 style="color: #e31b6d;text-transform: uppercase;">Apply!!</h2>
                <div id="apply" style="text-align: left;"> </div>
            </div>
        </div>
      </div>
    </div>
  </div> -->


{% endblock job %}